<!DOCTYPE HTML>
<html>
  <head>
      <title></title>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
      <script src="{{ url_for('static', filename='js/leaflet.label.js') }}"></script>
      <script src="{{ url_for('static', filename='js/alertify.js') }}"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css">
      <link rel="image/png" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-icon.png">
      <link rel="image/png" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.label.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/alertify.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/alertify.default.css') }}">
  </head>
  <body>
  <style>
  html, body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
  }
  #map{
    position: relative;
    height: 100%;
    min-height: 180px;
    width: 100%;
  }
  </style>
  <div id="map"></div>
  <script>
    function indexModel() {
      var self = this;
      self.username = ko.observable('')
      self.map = L.map('map')
      self.map.setView([52.3700, 16.9700], 11);
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      {attribution: '&copy; <a href="http://osm.org/copyright" title="OpenStreetMap" target="_blank">OpenStreetMap</a>'})
      .addTo(self.map);
      self.clearMap= function(username){
        self.map.eachLayer(function(layer){
          try{
            if(layer._content == username || layer.options.customLabel == username){
              self.map.removeLayer(layer)
            }
          }catch(e){}
        });
      }
      self.updateLocations = function(username, coords, acc){
        self.clearMap(username)
        L.circle(coords, acc, {
          color: 'red',
          fillColor: '#f03',
          fillOpacity: 0.5,
          customLabel: username
        }).addTo(self.map);
        label = new L.Label()
        label.setContent(username)
        label.setLatLng(coords)
        self.map.showLabel(label);
      }
      self.broadcastLocation = function(position){
        self.socket.emit('location', {username: self.username(), coords: [position.coords.latitude, position.coords.longitude], acc:position.coords.accuracy});
        return false;
      }
      self.showErrors = function(error){
        if(error.code == 1){
           console.log("Access is denied!");
        }else if(error.code == 2){
           console.log("Position is unavailable!");
        }
      }
      self.logIn = function(username){
        self.username(username)
        self.socket = io.connect('https://'+document.domain+':'+location.port+'/broadcast')
        self.socket.emit('server_connect', {username:self.username()});
        self.socket.on('server_connect', function(msg){
          alertify.success('User '+msg.username+' logged in.')
        })
        self.socket.on('locations', function(msg){
          self.updateLocations(msg.username, msg.coords, msg.acc)
        })
        self.socket.on('disconnect', function(msg){
          if(msg.username == undefined){
            alertify.error('Server disconnected')
          }else{
            alertify.error('User '+msg.username+' disconnected')
            self.clearMap(msg.username)
          }
        })
        if(navigator.geolocation){
          navigator.geolocation.watchPosition(self.broadcastLocation, self.showErrors, {maximumAge:1000, enableHighAccuracy: true});
        }else{
          console.log("What the fuck is wrong with this browser?")
        }
      }
      self.onClickOK = function(evt, username){
        if(username){
          self.logIn(username)
        }else{
          self.logIn(Math.random().toString(36).substring(20))
        }
      }
      self.onClickCancel = function(){
        self.logIn(Math.random().toString(36).substring(20))
      }
      alertify.defaults.glossary.title = 'Tracking'
      alertify.prompt("Your nickname:", "", self.onClickOK, self.onClickCancel)
    };
    var vm = new indexModel();
    ko.applyBindings(vm);
  </script>
</body>
</html>
