<!DOCTYPE HTML>
<html>
  <head>
      <title></title>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
      <script src="{{ url_for('static', filename='js/leaflet.label.js') }}"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-icon.png">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/leaflet.label.css') }}">
  </head>
  <body>
  <style>
  html, body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
  }
  #map{
    position: relative;
    height: 100%;
    min-height: 180px;
    width: 100%;
  }
  </style>
  <div id="map"></div>
  <script>
    function indexModel() {
      var self = this;
      self.username = ko.observable('Sebastian')
      self.map = L.map('map')
      self.map.setView([52.3700, 16.9700], 11);
      L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        {attribution: '&copy; <a href="http://osm.org/copyright" title="OpenStreetMap" target="_blank">OpenStreetMap</a>'})
        .addTo(self.map);
      var socket = io.connect('http://tracking.schulzsebastian.com:5001/broadcast');
      socket.on('response', function(msg){
        self.map.eachLayer(function(layer){
          try{
            if(layer._content == self.username() || layer.options.customLabel == self.username()){
              self.map.removeLayer(layer)
            }
          }catch(e){}
        });
        var circle = L.circle(msg.coords, msg.acc, {
          color: 'red',
          fillColor: '#f03',
          fillOpacity: 0.5,
          customLabel: self.username()
        }).addTo(self.map);
        label = new L.Label()
        label.setContent(self.username())
        label.setLatLng(msg.coords)
        self.map.showLabel(label);
      });
      self.getLocation = function(position){
        self.broadcastLocation([position.coords.latitude, position.coords.longitude], position.coords.accuracy)
      }
      self.showErrors = function(error){
        if(error.code == 1) {
           console.log("Access is denied!");
        }else if(error.code == 2) {
           console.log("Position is unavailable!");
        }
      }
      self.broadcastLocation = function(coords,acc){
        socket.emit('broadcast', {username: self.username(), coords: coords, acc:acc});
        return false;
      }
      if(navigator.geolocation){
        navigator.geolocation.watchPosition(self.getLocation, self.showErrors, {timeout:60000,enableHighAccuracy:true});
      }else{
        console.log("What the fuck is that?")
      }
    };
    var vm = new indexModel();
    ko.applyBindings(vm);
  </script>
</body>
</html>
